In [3]:
import numpy as np
import pandas as pd

In [6]:
datess = pd.date_range("2/2/2004", periods=8)
df = pd.DataFrame(np.random.rand(8,3), index=datess,columns = list("ABC") )
print(df)

                   A         B         C
2004-02-02  0.934342  0.295108  0.335828
2004-02-03  0.065263  0.147548  0.452724
2004-02-04  0.746235  0.415732  0.758130
2004-02-05  0.778445  0.020404  0.136064
2004-02-06  0.246359  0.364055  0.797348
2004-02-07  0.872615  0.923816  0.749731
2004-02-08  0.919203  0.945777  0.398783
2004-02-09  0.461137  0.026307  0.934079

In [7]:
df.dtypes

A    float64
B    float64
C    float64
dtype: object

In [8]:
dir(df)

['A',
 'B',
 'C',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values_for_csv',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [ ]:
# #supported datatys:
# 1) text: csv, latex, HTML
# 2) binary
# 3) sql
# 4)bigquery    #see official doc


"""the issue happens because \ is treated as an escape character in Python strings (e.g., \n for newline, \t for tab). When using a file path like:
Clever Ways to Avoid This

✅ 1. Use Raw Strings (r"")
Prefix your string with r, which tells Python to treat backslashes literally:

df = pd.read_csv(r"C:\Users\name\file.csv")
This prevents Python from interpreting \U or \n as escape sequences.

✅ 2. Use Double Backslashes (\\)
Manually escape \ by doubling it:
df = pd.read_csv("C:\\Users\\name\\file.csv")
Python treats \\ as a single \, preventing escape sequence issues.

✅ 3. Use Forward Slashes (/)
Windows supports both \ and / in file paths, so you can replace \ with /:

df = pd.read_csv("C:/Users/name/file.csv")
This avoids escape issues without extra syntax.

✅ 4. Use os.path or pathlib (Recommended)
Python’s os or pathlib modules can handle paths dynamically:

import os
df = pd.read_csv(os.path.join("C:", "Users", "name", "file.csv"))
Or using pathlib (more modern approach):

from pathlib import Path
df = pd.read_csv(Path("C:/Users/name/file.csv"))

This is cross-platform, meaning it works on Windows, Linux, and macOS without modification.
 """
data = pd.read_csv("C:/Users/ARSHAN/Desktop/arshan_educasheer/libraries/downloads/processed_cleveland.csv")
data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0
5,56,1,2,120,236,0,0,178,0,0.8,1,0,3,0
6,62,0,4,140,268,0,2,160,0,3.6,3,2,3,3
7,57,0,4,120,354,0,0,163,1,0.6,1,0,3,0
8,63,1,4,130,254,0,2,147,0,1.4,2,1,7,2
9,53,1,4,140,203,1,2,155,1,3.1,3,0,7,1

In [ ]:
data.shape

TypeError: 'tuple' object is not callable

In [15]:
data['sex'].value_counts()

sex
1    206
0     97
Name: count, dtype: int64

In [ ]:
#selecting and indexing

print(data.iloc[0]) #gives row
print("\n \n")
print(data['age']) #gives column

"""
 
press esc + M for viweing markdown below
"""

age          63
sex           1
cp            1
trestbps    145
chol        233
fbs           1
restecg       2
thalach     150
exang         0
oldpeak     2.3
slope         3
ca            0
thal          6
num           0
Name: 0, dtype: object



0      63
1      67
2      67
3      37
4      41
       ..
298    45
299    68
300    57
301    57
302    38
Name: age, Length: 303, dtype: int64

|     | A  | B  |
|-----|----|----|
| **x** | 10 | 40 |
| **y** | 20 | 50 |



| Feature         | `iloc` (Index-based)                  | `loc` (Label-based)                     |
|----------------|--------------------------------------|-----------------------------------------|
| **Index Type**  | Integer positions (`0, 1, 2`)       | Explicit labels (`'x', 'y', 'z'`)       |
| **Includes End?** | **Excludes** last index (`[0:2]` gives `0,1`) | **Includes** last label (`['x':'y']` gives `'x' and 'y'`) |
| **Column Access** | `df.iloc[:, 0]` (first column)    | `df.loc[:, 'A']` (column A)             |
| **Error Handling** | May raise `IndexError` if out of bounds | May raise `KeyError` if label is missing |

## **When to Use Which?**
✅ **Use `iloc`** when dealing with positions (like `df.iloc[0, 1]`).  
✅ **Use `loc`** when working with meaningful labels (like `df.loc['row_label', 'column_label']`).

In [ ]:
data.loc[:,["age","slope"]].head()
#select all rows but only of age and slope

#even iloc is similiar for slicing

In [ ]:
data.iloc[0:5, 1:3]
#first parametr is fro rows, and secon fis fro columns

   sex  cp
0    1   1
1    1   4
2    1   4
3    1   3
4    0   2

In [ ]:
data[data["age"]>50]
#masking

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
5,56,1,2,120,236,0,0,178,0,0.8,1,0,3,0
6,62,0,4,140,268,0,2,160,0,3.6,3,2,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,59,1,4,164,176,1,2,90,0,1.0,2,2,6,3
297,57,0,4,140,241,0,0,123,1,0.2,2,0,7,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2,7,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1,7,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1

In [ ]:
#if u want just 1 value
data.at[1,"age"]
#iat is brother os iloc

#use data.drop(column name, axis= 1) to delete

67

In [29]:
#query

data.query("age > 60 and sex == 1").head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
8,63,1,4,130,254,0,2,147,0,1.4,2,1,7,2
20,64,1,1,110,211,0,2,144,1,1.8,2,0,3,0

In [ ]:
"""

Active Learning is a strategy for selecting the most useful samples for training.

How It Works
Instead of randomly labeling data, the model actively selects the most informative or uncertain samples, which can improve performance while reducing labeling costs.

Key Idea
Not all data points contribute equally to learning.
The model asks for labels only for the most confusing or useful samples.
This makes training more efficient than traditional supervised learning.
Example Scenario
Imagine you're training an image classifier for cats vs. dogs 🐱🐶:

The model is confident about clear cat/dog images. ✅
But it struggles with blurry or mixed-breed images. 🤔
Instead of labeling everything, you only label the confusing ones, improving learning efficiency.
Would you like some specific algorithms used for Active Learning? 🚀



Active Learning is a type of Supervised Learning.

🔹 Why? Because it requires labeled data to train the model. The model starts with a small
 labeled dataset and actively selects additional examples to be labeled by humans (or an oracle).

🔹 How is it different from regular Supervised Learning? Instead of labeling the entire dataset at once,
 the model picks the most informative or uncertain samples for labeling, making the process more efficient.

🔹 Is there any connection with Unsupervised Learning? Yes! Sometimes, Unsupervised Learning techniques
 (like clustering) are used to select diverse or representative data points for labeling,
   improving the effectiveness of Active Learning.
   
   """

data[(data["age"] ==65)|(data["age"] == 35)]

#same, above and below
data[data["age"].isin([65,35])]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
40,65,0,4,150,225,0,2,114,0,1.0,2,3,7,4
48,65,0,3,140,417,1,2,157,0,0.8,1,1,3,0
51,65,1,4,120,177,0,0,140,0,0.4,1,0,7,0
70,65,0,3,155,269,0,0,148,0,0.8,1,0,3,0
73,65,1,4,110,248,0,2,158,0,0.6,1,2,6,1
75,65,0,3,160,360,0,2,151,0,0.8,1,0,3,0
117,35,0,4,138,183,0,0,182,0,1.4,1,0,3,0
119,65,1,4,135,254,0,2,127,0,2.8,2,1,7,2
124,65,1,1,138,282,1,2,174,0,1.4,2,1,3,1
138,35,1,4,120,198,0,0,130,1,1.6,2,0,7,1
168,35,1,4,126,282,0,2,156,1,0.0,1,0,7,1
283,35,1,2,122,192,0,0,174,0,0.0,1,0,3,0

In [34]:
data["age"].where(data["age"] > 60, other = None)

0      63.0
1      67.0
2      67.0
3       NaN
4       NaN
       ...
298     NaN
299    68.0
300     NaN
301     NaN
302     NaN
Name: age, Length: 303, dtype: float64

In [40]:
data.set_index("age", inplace=True)

KeyError: "None of ['age'] are in the columns"

In [ ]:
# print(data)
# data.drop("num",inplace = True)
data["country"] = "IND"   #broadcast
print(data)


#well adding entore new data points: augumgentation

     sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope ca  \
age
63     1   1       145   233    1        2      150      0      2.3      3  0
67     1   4       160   286    0        2      108      1      1.5      2  3
67     1   4       120   229    0        2      129      1      2.6      2  2
37     1   3       130   250    0        0      187      0      3.5      3  0
41     0   2       130   204    0        2      172      0      1.4      1  0
..   ...  ..       ...   ...  ...      ...      ...    ...      ...    ... ..
45     1   1       110   264    0        0      132      0      1.2      2  0
68     1   4       144   193    1        0      141      0      3.4      2  2
57     1   4       130   131    0        0      115      1      1.2      2  1
57     0   2       130   236    0        2      174      0      0.0      2  1
38     1   3       138   175    0        0      173      0      0.0      1  ?

    thal  num country
age
63     6    0     IND
67     3    2     IND
67     7    1     IND
37     3    0     IND
41     3    0     IND
..   ...  ...     ...
45     7    1     IND
68     7    2     IND
57     7    3     IND
57     3    1     IND
38     3    0     IND

[303 rows x 14 columns]

In [ ]:
#latent features
"""
Latent Features in Machine Learning
Latent features are hidden, unobservable properties of data that are not explicitly given but can be learned through mathematical techniques. These features capture underlying patterns or relationships in the data.

🔹 Where Do Latent Features Come From?
Dimensionality Reduction (PCA, SVD, Autoencoders)

Example: In Principal Component Analysis (PCA), original features are transformed into new latent features (principal components) that capture the most variance in the data.
Neural Networks (Deep Learning)

Example: In autoencoders, hidden layers capture latent representations of input data.
Factorization Techniques (Matrix Factorization, LDA, Word Embeddings)

Example: In Collaborative Filtering (recommendation systems), user preferences and item characteristics are represented as latent factors.
🔹 Examples of Latent Features
📌 Example 1: Movie Recommendation System
Suppose we have a dataset where each row is a user and each column is a movie rating.
Explicit features: Genre, Director, Release Year.
Latent features (learned from patterns):
"Action Movie Preference"
"Comedy-Lover Score"
"Likes Old Classics"
🎯 Even if we never labeled these preferences, algorithms like Matrix Factorization (SVD) can discover them.

📌 Example 2: Image Recognition (Deep Learning)
Given raw pixel values, CNNs (Convolutional Neural Networks) learn latent features like:
Edges & Textures (low-level)
Shapes & Objects (mid-level)
Concepts like "Cat" or "Dog" (high-level)
🔹 Why Are Latent Features Useful?
✅ Reduce dimensionality and remove noise
✅ Capture hidden patterns and dependencies
✅ Improve performance in recommendation systems, NLP, and deep learning

Would you like a code example to extract latent features using PCA? 🚀  """